@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@500&display=swap');
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
}
a {
  color:#F0F8FF;
}
a:hover{
  color: #242424;
}
body {
  font-size: 100%;
  background: #0b0b1870;
}

.resumeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}

.resumeLogo {  
  height: 42px;
}

.resumeHeaderMenu {
  display: flex;
  gap: 32px;
}

.resumeHeaderTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #F0F8FF;
}

.resumeHeaderMenuItem {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #F0F8FF;
}

.resumeHeaderMenuItem:hover{
  color: #242424;
}

.resumeHeaderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 25px 0px 15px 0px;
}

.resumeHeaderSectionImage {
  height: 383.5px;  
}

.resumeHeaderDetails {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.resumeHeaderSectionTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 25px;

}

.resumeHeaderTopic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding: 15px 0px 0px 0px;
}

.resumeContent{
  border-top: 0.4px solid #242424;
  margin-bottom: 48px;
}

.resumeTopic{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding: 5px 0px 5px 20px;
}

.resumeSectionAbstractParagraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  padding: 5px 25px 25px 30px;

}

.resumeContactItens {
  display: flex;
  flex-direction: column;
  align-items: left;  
  padding-top: 10px;
  gap: 5px;
}

.resumeContactLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;  
}

.resumeContactIconWhatsapp {
  width: 35px;
  height: 35px;
  margin-right: 15px;
 
}

.resumeContactIconGmail {
  width: 35px;
  height: 26px;  
  margin-right: 15px;
}

.resumeContactIconLinkedin {
  width: 35px;
  height: 30px;
  margin-right: 15px;
 
}

.resumeLanguagesIcons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
}

.resumeLanguagesIcon {
  height: 30px;
  width: 40px;
}

.resumeSubtopic{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 5px 25px 5px 30px;
}

.resumeSectionProfessionalParagraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  padding: 5px 25px 25px 40px;
}

.resumeFooter {  
  padding: 32px;
  border-top: 0.4px solid #242424;
}

.resumeFooterInfo {
  display: block;
  margin: 0 auto;
}